div {

}

* {
    font-family: Avenir;
}

body {
    padding: 0;
    margin: 0;
}

.welcome-header {
    height: 70px;
    background-color: transparent;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}

.welcome-header header nav {
    text-align: center;
    line-height: 70px;
}

.welcome-header header nav a {
    margin: 0 10px;
    font-size: 1.3em;
    color: white;
}

.welcome-header nav a:first-child {
    font-family: 'Meddon', cursive;
    float: left;
    font-size: 2em;
    font-weight: bold;
}

.welcome-wrapper-one {
    padding-top: 70px;
    height: 65vh;
    background-image: url("https://static.pexels.com/photos/121537/pexels-photo-121537.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.welcome-wrapper-two {
    height: 65vh;
    padding: 14vh 140px;
    text-align: center;
}
.welcome-wrapper-two h1 {

    font-size: 2em;
    margin-bottom: 40px;
}

.welcome-wrapper-two p{
    font-size: 2em;
}

.welcome-wrapper-two button {

    background-color: transparent;
    border: 2px solid black;
    font-size: 2.5em;
    padding: 5px 8px;
}

.welcome-wrapper-three {
    height: 65vh;
    padding: 14vh 140px;
    text-align: center;
    background-color: black;
}

.welcome-wrapper-three p, .welcome-wrapper-three h2 {
    color: white;
    font-size: 2em;
}

.welcome-wrapper-three h2 {
    margin-bottom: 40px;
}

.welcome-wrapper-three button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2.5em;
    padding: 5px 8px;
}
.welcome-wrapper-four {
    height: 65vh;
    padding: 14vh 140px;
    text-align: center;
}

.welcome-wrapper-four h2 {
    margin-bottom: 40px;
}
.welcome-wrapper-four p {
    font-size: 2em;
}

.welcome-wrapper-four input {
    font-size: 2.5em;
    padding: 5px 8px;
    border: 2px solid black;
    border-right: none;
    margin-right: 0;
    outline: none;
}

.welcome-wrapper-four button {
    font-size: 2.5em;
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 5px 8px;
    margin-left: 0;
    position: relative;
    left: -10px;
}



.about-wrapper {
    padding-top: 70px;
}

.footer-wrapper {
    height: 200px;
}

#footer-left-div {
    background-color: black;
    height: 200px;
    padding-top: 40px;
}

#footer-left-div dl {
    text-align: center;
}
#footer-left-div dl dt {
    color: darkgray;
}

#footer-left-div dl dd {
    color: white;
}

#footer-center-div {
    background-color: black;
    height: 200px;
    padding-top: 40px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#footer-center-div ul {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}

#footer-center-div ul li a {
    color: white;
    font-size: 1.7em;
}

#footer-right-div {
    background-color: black;
    height: 200px;
    padding-top: 40px;
}

#footer-right-div dl {
    text-align: center;
}

#footer-right-div dl dt {
    color: darkgray;
}

#footer-right-div dl dd {
    color: white;
}