div {

}

* {
    font-family: Avenir;
}

.center-element {
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}

.welcome-header {
    height: 70px;
    background-color: transparent;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

#responsive-menu {
    margin-top: 100px;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    display: none;
}

#responsive-menu li {
    border-top: 1px dotted white;
}

#responsive-menu li a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.welcome-header header nav {
    text-align: center;
    line-height: 70px;
}

.welcome-header header nav a {
    margin: 0 10px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    opacity: .8;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.welcome-header header nav a:hover {
    opacity: 1;
}

.welcome-header nav a:first-child {
    font-family: 'Meddon', cursive;
    float: left;
    font-size: 2em;
    font-weight: bold;
    opacity: 1;
}

.welcome-header nav a:last-child {
    float: right;
    display: none;
}

.welcome-wrapper-one {
    padding-top: 70px;
    height: 65vh;
    background-image: url("https://static.pexels.com/photos/121537/pexels-photo-121537.jpeg");
    background-size: cover;
    background-attachment: fixed;

}

.welcome-wrapper-two {
    height: 65vh;
    padding: 8vh 140px;
    text-align: center;
}
.welcome-wrapper-two h1 {

    font-size: 7em;
    font-family: 'Tangerine', cursive;
    margin-bottom: 40px;
}

.welcome-wrapper-two p{
    font-size: 2em;
}

.welcome-wrapper-two button {

    background-color: transparent;
    border: 2px solid black;
    font-size: 2.5em;
    padding: 5px 8px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.welcome-wrapper-two button:hover {
    background-color: black;
    color: white;
}

.welcome-wrapper-two button:active {
    position: relative;
    top: 1px;
}

.welcome-wrapper-three {
    height: 65vh;
    padding: 14vh 140px;
    text-align: center;
    background-color: black;
}

.welcome-wrapper-three p, .welcome-wrapper-three h2 {
    color: white;
    font-size: 2em;
}

.welcome-wrapper-three h2 {
    margin-bottom: 40px;
}

.welcome-wrapper-three button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2.5em;
    padding: 5px 8px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.welcome-wrapper-three button:hover {
    background-color: white;
    color: black;
}

.welcome-wrapper-three button:active {
    position: relative;
    top: 1px;
}

.welcome-wrapper-four {
    height: 65vh;
    padding: 14vh 140px;
    text-align: center;
}

.welcome-wrapper-four h2 {
    margin-bottom: 40px;
}
.welcome-wrapper-four p {
    font-size: 2em;
}

.welcome-wrapper-four input {
    font-size: 2.5em;
    padding: 5px 8px;
    border: 2px solid black;
    border-right: none;
    margin-right: 0;
    outline: none;
}

.welcome-wrapper-four button {
    font-size: 2.5em;
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 5px 8px;
    margin-left: 0;
    position: relative;
    left: -10px;
    -webkit-transition: all .2s;
    transition: all .2s;
}


.welcome-wrapper-four button:hover {
    background-color: white;
    color: black;
}


.about-wrapper {
    padding-top: 70px;
}



.footer-wrapper {
    height: 200px;
}

#footer-left-div {
    background-color: black;
    height: 200px;
    padding-top: 40px;
}

#footer-left-div dl {
    text-align: center;
}
#footer-left-div dl dt {
    color: darkgray;
}

#footer-left-div dl dd a {
    color: white;
}

#footer-center-div {
    background-color: black;
    height: 200px;
    padding-top: 40px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#footer-center-div ul {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}

#footer-center-div ul li a {
    color: white;
    font-size: 1.7em;
    opacity: .7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

#footer-center-div ul li a:hover {
    opacity: 1;
}

#site-credit {
    color: white;
    margin-top: 30px;
}

#site-credit a {
    color: white;
    text-decoration: none;
    -webkit-transition: all .4s;
    transition: all .4s;
}

#site-credit a:hover {
    color: #34B8F5;
}

#footer-right-div {
    background-color: black;
    height: 200px;
    padding-top: 40px;
}

#footer-right-div dl {
    text-align: center;
}

#footer-right-div dl dt {
    color: darkgray;
}


#footer-right-div dl dd a {
    color: white;
}




/*Styling for homes page*/

.homes-wrapper-one {
    height: 30vh;
    background-image: url("https://static.pexels.com/photos/173489/pexels-photo-173489.jpeg");
    background-attachment: fixed;
    background-size: cover;
}

.homes-search-wrapper input {
    font-size: 2em;
    width: 50vw;
    text-align: center;
    margin-top: 20px;
    outline: none;
    margin-bottom: 20px;

}

#homes-results-list {
    list-style-type: none;
    text-align: center;

}

#homes-results-list li {
    display: inline-block;
    padding: 5px;
}

.homes-pic-wrapper {
    width: 100%;
    height: 65%;
    background-color: aqua;
}
.homes-home-wrapper {
    border: 1px solid black;
    background-color: black;
    width: 20vw;
    height: 200px;
    min-width: 220px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.homes-home-wrapper:hover {
    background-color: #3F4243;
}

.homes-home-wrapper:active {
    position: relative;
    top: 1px;
}

.homes-price {
    color: white;
    text-align: center;
    font-size: 1.6em;
}

.homes-city {
    color: darkgray;
    text-align: center;
}



/*Styling for home template page (home.tpl.html)*/






/*Styling for about templates page*/

.about-wrapper-one {
    height: 30vh;
    background-image: url("https://static.pexels.com/photos/27665/pexels-photo-27665.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.about-wrapper-two {
    padding: 25px 100px;
}

.about-wrapper-two h2 {
    text-align: center;
    font-size: 2em;
}

.about-wrapper-two p {
    text-align: center;
    font-size: 1.5em;
}

#service-list {
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
}

#service-list li {
    font-size: 1.5em;
    margin-top: 5px;
}

.about-insert-wrapper {
    height: 200px;
    background-image: url("https://static.pexels.com/photos/41042/pexels-photo-41042.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

#about-social-list {
    text-align: center;
    list-style-type: none;
    line-height: 200px;
    padding-left: 0;
}

#about-social-list li {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
}

#about-social-list li a {
    color: white;
    font-size: 3.5em;
}
.about-wrapper-three {
    padding: 50px 100px;
}

#picture-wrapper {
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url("https://static.pexels.com/photos/27411/pexels-photo-27411.jpg");
    background-size: cover;
    background-position: center;
}

.about-wrapper-three h2 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
}

.about-wrapper-three h3 {
    text-align: center;
    font-size: 1.6em;
    margin-top: -25px;
}

.about-wrapper-three p {
    text-indent: 50px;

    padding-top: 30px;
    font-size: 1.5em;
}



/*Styling for contact page*/

.contact-wrapper-one {
    height: 30vh;
    background-image: url("https://static.pexels.com/photos/1984/black-and-white-city-man-people.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.contact-questions {
    font-size: 1.8em;
    padding-top: 50px;
}

.contact-we-would {
    font-size: 2.4em;
}

.half-width {
    font-size: 1.8em;
    width: 350px;
    padding: 5px 8px;
    border: 2px solid black;
    outline: none;
}

.full-width {
    font-size: 1.8em;
    width: 702px;
    padding: 5px 8px;
    border: 2px solid black;
    outline: none;
    margin-top: 2px;
}
.contact-wrapper-two textarea {
    resize: none;
    height: 200px;
}

.contact-wrapper-two button {
    font-size: 1.8em;
    width: 702px;
    padding: 5px 8px;
    border: 2px solid black;
    outline: none;
    color: white;
    background-color: black;
    -webkit-transition: background-color .4s, color .4s;
    transition: background-color .4s, color .4s;

}

.contact-wrapper-two button:hover {
    color: black;
    background-color: white;
}

.contact-wrapper-two button:active {
    position: relative;
    top: 1px;
}
#contact-social-list {
    list-style-type: none;
    padding-left: 0;
}

#contact-social-list li {
    display: inline;
    margin-right: 50px;
    margin-left:50px;
}

#contact-social-list li a {
    color: black;
    font-size: 2.5em;
    opacity: .7;
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
}

#contact-social-list li a:hover {
    opacity: 1;
}
















/*Admin login page*/


.admin-login-wrapper form {
    text-align: center;
    margin-top: 50px;
}



/*CSS Media Queries*/




@media (max-width: 600px) {
    .welcome-header nav a:last-child {
        display: inline;
    }

    .welcome-header nav a:nth-child(2), .welcome-header nav a:nth-child(3), .welcome-header nav a:nth-child(4) {
        display: none;
    }

    .welcome-header nav a:first-child, .welcome-header nav a:last-child {
        font-size: 1.5em;
    }

    .welcome-wrapper-one {
        height: 45vh;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .welcome-wrapper-two {
        padding: 10px;
        height: 50vh;
    }

    .welcome-wrapper-two h1 {
        font-size: 2.4em;
    }

    .welcome-wrapper-two p {
        font-size: 1em;
    }

    .welcome-wrapper-two button, .welcome-wrapper-three button {
        font-size: 1.3em;
        margin-bottom: 20px;
    }

    .welcome-wrapper-three {
        padding: 10px;
        height: 45vh;
    }

    .welcome-wrapper-three h2 {
        font-size: 1.5em;
    }

    .welcome-wrapper-three p {
        font-size: 1em;
    }

    .welcome-wrapper-four {
        padding: 10px;
        height: 40vh;
    }

    .welcome-wrapper-four h2 {
        font-size: 1.5em;
    }

    .welcome-wrapper-four p {
        font-size: 1em;
    }

    .welcome-wrapper-four input {
        font-size: 1.3em;

    }

    .welcome-wrapper-four button {
        font-size: 1.3em;
    }

    #footer-left-div, #footer-right-div {
        display: none;
    }

    #footer-center-div {
        border-right: none;
        border-left: none;
    }

    #footer-center-div ul li {
        display: inline;
        margin-left: 15px;
        margin-right: 15px;
    }

    #site-credit {
        margin-top: 60px;
    }

    #site-credit a {
        color: #34B8F5
    }

    .about-wrapper-one {
        height: 30vh;
        background-image: url("https://static.pexels.com/photos/27665/pexels-photo-27665.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .about-wrapper-two {
        padding: 10px 25px;
    }

    .about-wrapper-two h2 {
        text-align: center;
        font-size: 2.5em;
    }

    .about-wrapper-two p {
        text-align: center;
        font-size: 1.2em;
    }

    #service-list {
        text-align: center;
        list-style-type: none;
        padding-top: 20px;
        padding-left: 0;
    }

    #service-list li {
        font-size: 1.2em;
        margin-top: 5px;
    }

    .about-insert-wrapper {
        height: 200px;
        background-image: url("https://static.pexels.com/photos/41042/pexels-photo-41042.jpeg");
        background-size: 100%;
        background-attachment: fixed;


    }

    #about-social-list {
        text-align: center;
        list-style-type: none;
        line-height: 200px;
        padding-left: 0;
    }

    #about-social-list li {
        display: inline;
        margin-right: 20px;
        margin-left: 20px;
    }

    #about-social-list li a {
        color: white;
        font-size: 3.5em;
    }
    .about-wrapper-three {
        padding: 20px 20px;
    }

    #picture-wrapper {
        width: 150px;
        height: 150px;
    }

    .about-wrapper-three h2 {
        text-align: center;
        font-family: 'Tangerine', cursive;
        font-size: 4em;
        margin-bottom: 0;
        margin-top: 0;
    }

    .about-wrapper-three h3 {
        text-align: center;
        font-size: 1.3em;
        margin-top: -25px;
    }

    .about-wrapper-three p {
        text-indent: 20px;
        padding-top: 30px;
        font-size: 1.3em;
        text-align: center;
    }


    .contact-wrapper-one {
        background-size: 100%;
    }

    .contact-questions {
        font-size: 2.2em;
        padding-top: 10px;
    }

    .contact-we-would {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .contact-wrapper-two input:first-child {
        margin-bottom: 3px;
    }

    .half-width {
        font-size: 1.3em;
        width: 90vw;
        text-align: center;
    }

    .full-width {
        font-size: 1.3em;
        width: 90vw;
        text-align: center;
    }
    .contact-wrapper-two textarea {
        height: 175px;
    }

    .contact-wrapper-two button {
        font-size: 1.8em;
        width: 90vw;
    }



    #contact-social-list li {
        margin-right: 15px;
        margin-left:15px;
    }
}






@media (max-width: 325px) {
    .welcome-wrapper-three, .welcome-wrapper-four {
        height: 60vh;
    }

    .welcome-wrapper-two {
        height: 70vh;
    }

    .welcome-wrapper-two h1 {
        font-size: 2.1em;
    }

    .welcome-wrapper-two button {
        font-size: 1.1em;
    }

    .about-wrapper-one {
        height: 30vh;
        background-image: url("https://static.pexels.com/photos/27665/pexels-photo-27665.jpg");
        background-attachment: fixed;
        background-size: cover;
    }

    .about-wrapper-two {
        padding: 10px 25px;
    }

    .about-wrapper-two h2 {
        text-align: center;
        font-size: 2.5em;
    }

    .about-wrapper-two p {
        text-align: center;
        font-size: 1.2em;
    }

    #service-list {
        text-align: center;
        list-style-type: none;
        padding-top: 20px;
        padding-left: 0;
    }

    #service-list li {
        font-size: 1.2em;
        margin-top: 5px;
    }

    .about-insert-wrapper {
        height: 200px;
        background-image: url("https://static.pexels.com/photos/41042/pexels-photo-41042.jpeg");
        background-size: cover;
        background-attachment: fixed;
    }

    #about-social-list {
        text-align: center;
        list-style-type: none;
        line-height: 200px;
        padding-left: 0;
    }

    #about-social-list li {
        display: inline;
        margin-right: 20px;
        margin-left: 20px;
    }

    #about-social-list li a {
        color: white;
        font-size: 3.5em;
    }
    .about-wrapper-three {
        padding: 10px 20px;
    }

    #picture-wrapper {
        width: 150px;
        height: 150px;
    }

    .about-wrapper-three h2 {
        text-align: center;
        font-family: 'Tangerine', cursive;
        font-size: 3.3em;
        margin-bottom: 0;
        margin-top: 0;
    }

    .about-wrapper-three h3 {
        text-align: center;
        font-size: 1.1em;
        margin-top: -25px;
    }

    .about-wrapper-three p {
        text-indent: 20px;
        padding-top: 30px;
        font-size: 1em;
        text-align: center;
    }
}