
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 about-wrapper-one">

        </div>
    </div>
</div>

<div class="contianer-fluid">
    <div class="row">
        <div class="col-md-12 about-wrapper-two">
            <h2>Who Are We?</h2>
            <p>
                At Legacy Property Management Group we specialize in handling the tedious tasks, so you can get on with life.
                Here are just a few of the many services our team offers:


            </p>
        </div>
    </div>
</div>