
<div class="container-fluid">
    <div class="row">
        <div  id="about-top" class="col-md-12 about-wrapper-one">

        </div>
    </div>
</div>

<div class="contianer-fluid">
    <div class="row">
        <div class="col-md-12 about-wrapper-two">
            <h2>Who Are We?</h2>
            <p>
                At Legacy Property Management Group we specialize in handling the day-to-day tasks, so you can get on with life.
                Here are just a few of the many services our team offers:
            </p>
            <ul id="service-list">
                <li>First Service</li>
                <li>Second Service</li>
                <li>Third Service</li>
                <li>Forth Service</li>
                <li>Fifth Service</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 about-insert-wrapper">
            <ul id="about-social-list">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 about-wrapper-three">
            <div id="picture-wrapper"></div>
            <hr>
            <h2>Joanna Branquinho</h2><br>
            <h3>CEO/Property Manager</h3>
            <p>
                Before being named CEO in August 2011, Tim was Apple's Chief Operating Officer and was responsible for
                all of the company’s worldwide sales and operations, including end-to-end management of Apple’s supply
                chain, sales activities, and service and support in all markets and countries. He also headed Apple’s
                Macintosh division and played a key role in the continued development of strategic reseller and supplier
                relationships, ensuring flexibility in response to an increasingly demanding marketplace.
            </p>
        </div>
    </div>
</div>