<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 homes-wrapper-one"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="homes-search-wrapper">
            <div class="center-element">
                <input type="text" placeholder="Search for your dream home" ng-model="homes.searchText">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 homes-filters-wrapper">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 homes-homes-wrapper">
            <ul id="homes-results-list">
                <li ng-repeat="home in homeList | filter:homes.searchText track by $index">
                    <div class="homes-home-wrapper" ng-click="openTemplate($index)">
                        <div class="homes-pic-wrapper">
                        </div>
                        <p class="homes-price">{{home.monthlyRate | currency}}/mo.</p>
                        <p class="homes-city">{{home.city}}, {{home.state}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>