<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 home-wrapper-one">
            <div id="home-big-pic-wrapper">

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 home-main-pic-wrapper">
            <div id="big-picture"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 home-wrapper-two">
            <ul id="home-picture-list">
                <li ng-repeat="home in homes track by index">
                    <div class="home-thumbnail-wrapper">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 home-details-wrapper">
            <h2>{{home.description}}</h2>
            <h3>Details</h3>
            <table>
                <tr>
                    <th>Bedrooms</th>
                    <td>{{home.bedrooms}}</td>
                </tr>
                <tr>
                    <th>Baths</th>
                    <td>{{home.baths}}</td>
                </tr>
                <tr>
                    <th>Square foot</th>
                    <td>{{home.squareFootage}}</td>
                </tr>


            </table>
        </div>
    </div>
</div>