

<div class="container-fluid">
    <div class="row">
        <div id="welcome-top" class="col-md-12 col-xs-12 welcome-wrapper-one">
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-two">
            <h1>Legacy Property Management Group</h1>
            <p>At Legacy Property Management Group, we specialize in complete residential and commercial property
            management solutions. Our team of professionals is dedicated to managing the day to day operations, so that you
            can focus on other priorities like building your brand.</p><br>
            <button ng-click="goToAbout()">Learn more about the services we offer</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-three">
            <h2>Looking for a rental?</h2>
            <p>Look no further. We have a wide range of properties available that cater to virtually every
            lifestyle and budget. Let us help you find your next home.</p><br>
            <button ng-click="goToHomes()">View available rentals</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-four">
            <h2>Would you like to be in the know?</h2>
            <p>Of course you would! Sign up so you recieve emails about events and new listings.</p><br>
            <div id="welcome-email-signup-wrapper">
                <input type="text" placeholder="Email Address" ng-model="welcome.signupEmail">
                <button>SignUp</button>
            </div>
        </div>
    </div>
</div>


